body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.header{
    display:flex;
    justify-content: space-between;
    /* margin:10px; */
    background-color: black;
    color: white;
} 
.nav-items > ul{
    display:flex;
    list-style-type: none;
}
.nav-items>ul>li{
    padding: 5px;
}
.logo{
    width:50px;
    height:50px;
}
.restaurant-cards{
    width:200px;
    border:1px solid black;
    padding: 10px;
    margin:10px;
}
.restaurant-cards > img{
    width:100%; 
}
.restaurant-list {
    display: flex;  
    flex-wrap:wrap;
}